{
  "id": "00000000-0000-0000-0000-000000000001",
  "name": "Service Commerce Local Example",
  "values": [
    {
      "key": "baseUrl",
      "value": "https://api.backend-example.net/api/v1",
      "enabled": true
    },
    {
      "key": "accessToken",
      "value": "",
      "enabled": true
    },
    {
      "key": "refreshToken",
      "value": "",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2026-07-28T00:00:00.000Z",
  "_postman_exported_using": "Postman/11"
}
